<%- include('../partials/header')%>

<title>Sportovní sázení</title>

<%- include('../partials/navbar')%>

<h1>New Pick</h1>

<form action="/bets" method="POST">
    <p>
        <label for="day">Day: </label>
        <select name="day" id="day">
            <% for (let x = 1; x < 32; x++) { %>
                <option value="<%=x%>"><%=x%></option>
            <% } %> 
        </select>
        <label for="month">Month: </label>
        <select name="month" id="month">
            <% for (let x = 1; x < 13; x++) { %>
                <option value="<%=x%>"><%=x%></option>
            <% } %> 
        </select>
        <label for="year">Year: </label>
        <select name="year" id="year">
            <% for (let x = 2021; x < 2023; x++) { %>
                <option value="<%=x%>"><%=x%></option>
            <% } %> 
        </select>
    </p>
    <p>
        <label for="sport">Sport: </label>
        <select name="sport" id="sport">
            <option value="fotbal">Football</option>
            <option value="hokej">Ice Hockey</option>
            <option value="basket">Basketball</option>
            <option value="ostatni">Other</option>
        </select>
    </p>
    <p>
        <label for="game">Game: </label>
        <input type="text" name="game" id="game">
    </p>
    <p>
        <label for="pick">Pick: </label>
        <input type="text" name="pick" id="pick">
    </p>
    <p>
        <label for="odds">Odds: </label>
        <input type="number" name="odds" id="odds" step="any">
    </p>
    <p>
        <label for="stake">Day: </label>
        <select name="stake" id="stake">
            <% for (let x = 1; x < 11; x++) { %>
                <option value="<%=x%>"><%=x%></option>
            <% } %> 
        </select>
    </p>
    <p>
        <label for="result">Result: </label>
        <select name="result" id="result">
            <option value="non">NON</option>
            <option value="ok">OK</option>
            <option value="half_ok">1/2 OK</option>
            <option value="void">VOID</option>
            <option value="half_ko">1/2 KO</option>
            <option value="ko">KO</option>
        </select>
    </p>
    <button>Uložit</button>
</form>

<%- include('../partials/footer')%>